.nav-trigger {
    position: fixed;
    right: 25px;
    top: 25px;
    background: none;
    border: none;
    transition-delay: 0.3s;


    .fa {
        font-size: 45px;
        width: 45px;
    }
}

.nav-trigger-close {
    display: none;

    @extend .nav-trigger;
}

button {
    @include floating(3);

    .fa {
        color: $main-buttons--color;
    }

    &:active{
        transition: all 0s linear 0.5s;
    }
}
