body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    position:relative;
    z-index:0;
    overflow:hidden;
}

main {
    background-color: $background--color;
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 100vh;
}

section {
    align-self: center;
}

.sect-main {
    width: 30%;
}

.pageCover{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0);
    /*display:none;*/
    @include floating(2);
    transition: background 0.3s linear;

    &.active{
        background-color: rgba(0,0,0,0.7);
    }
}
