$font-size--standart: 14px;
$font-size--titles: 18px;
$font-size--bonus: 12px;
$browser-context: 16px;

$rem-Fn-base: 14;

// Colors:

$background--color: #0B0C10;
$panel--color: #1F2833;
$regular-text--color: #C5C6C7;
$title-text--color: #66FCF1;
$buns-text--color: #45A29E; 
$main-buttons--color: #66FCF1;
$secondary-buttons--color: #45A29E;
$average-hover--color: #45A29E;